<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Score">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Score</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <style>
    .low {
      color: green;
    }

    .medium {
      color: yellow;
    }

    .high {
      color: red;
    }
  </style>

</head>

<body>

  <div class="container">
    <h1 id="message"></h1>
    <h3 id="confirmed"></h3>
    <h3 id="unconfirmed"></h3>
  </div><!-- /.container -->

  <script>
    const messageElement = document.getElementById("message")
    const confirmedElement = document.getElementById("confirmed")
    const unconfirmedElement = document.getElementById("unconfirmed")

    const tenSeconds = 10000
    function getProcessingTime() {
      fetch("/info")
        .then(response => response.json())
        .then(json => {
          if (json.time_secs === null) {
            messageElement.textContent = "All orders have been confirmed"
          } else {
            let className = ""
            if (json.time_secs / 60 <= 7) {
              messageElement.className = "low"
            } else if (json.time_secs / 60 <= 30) {
              messageElement.className = "medium"
            } else {
              messageElement.className = "high"
            }
            let waitString = ""
            if (json.time_secs / 60 > 1) {
              waitString = `${parseInt(json.time_secs / 60)} minutes`
            } else {
              waitString = `${json.time_secs} seconds`
            }
            messageElement.textContent = waitString
          }

          confirmedElement.textContent = parseInt(json.confirmed_today)
          unconfirmedElement.textContent = parseInt(json.total_uncomfirmed)
        })
        .catch(err => console.log(err))
    }
    getProcessingTime()
    setInterval(getProcessingTime, tenSeconds)
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>