<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Score">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>Score</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <style>
    .low {
      color: #5cb85c;
    }

    .medium {
      color: #f0ad4e;
    }

    .high {
      color: #d9534f;
    }

    .container {
      padding-top: 25px;
    }

    @media (min-width: 1920px) {
      h1 {
        font-size: 50px;
      }

      h4 {
        font-size: 25px;
      }

      .container {
        padding-top: 35px;
      }
    }
  </style>

</head>

<body>

  <div class="container">
    <h1 id="message" class="text-center"></h1>
    <br>
    <h4 id="confirmed" class="text-center"></h4>
    <h4 id="unconfirmed" class="text-center"></h4>
  </div><!-- /.container -->

  <script>
    const messageElement = document.getElementById("message")
    const confirmedElement = document.getElementById("confirmed")
    const unconfirmedElement = document.getElementById("unconfirmed")

    const tenSeconds = 10000
    function getProcessingTime() {
      fetch("/info")
        .then(response => response.json())
        .then(json => {
          if (json.time_secs === null) {
            messageElement.className = "text-center"
            messageElement.textContent = "All orders have been confirmed"
          } else {
            if (json.time_secs / 60 <= 7) {
              messageElement.className = "low"
              messageElement.classList.add("text-center")
            } else if (json.time_secs / 60 <= 30) {
              messageElement.className = "medium"
              messageElement.classList.add("text-center")
            } else {
              messageElement.className = "high"
              messageElement.classList.add("text-center")
            }
            let waitString = ""
            if (json.time_secs / 60 > 1) {
              waitString = `Order awaits confirmation for ${parseInt(json.time_secs / 60)} minutes`
            } else {
              waitString = `Order awaits confirmation for ${json.time_secs} seconds`
            }
            messageElement.textContent = waitString
          }

          confirmedElement.textContent = `Orders confirmed today: ${parseInt(json.confirmed_today)}`
          unconfirmedElement.textContent = `Unconfirmed orders total: ${parseInt(json.total_uncomfirmed)}`
        })
        .catch(err => console.log(err))
    }
    getProcessingTime()
    setInterval(getProcessingTime, tenSeconds)
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</body>

</html>